body {
    font-family: 'Arial', sans-serif;
    background-image: url('src/img/fondo.jpg'); /* Cambia esta ruta a la de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center;
    background-attachment: fixed; /* Hace que la imagen se quede fija al hacer scroll */
}
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

section {
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
}

.imagenBlog{
    max-width: 700px;
    max-height: auto;
    border-radius:20px;
    justify-content: center;
}

.container {
    max-width: 800px;
    margin: 0 auto; /* Centra el contenedor */
}
.blog-entry {
    margin: 20px 0; /* Espaciado entre entradas */
    padding: 20px; /* Espaciado interno para el contenido */
    background-color: #f8f9fa; /* Color de fondo claro */
    border: 1px solid #dee2e6; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para un efecto elevado */
}

.media-container {
    margin: 20px 0; /* Espacio alrededor de la imagen o video */
}

.modification-info {
    font-size: 0.9rem; /* Tamaño del texto más pequeño */
    color: rgb(0, 0, 0); /* Color del texto de modificación */
    margin-top: 20px; /* Espacio superior */
}



.btn-biografia {
    margin-top: 20px;
}

#biografia {
    display: none;
}

/* Margen superior para evitar que el contenido quede debajo de la navbar fija */
body {
    padding-top: 70px;
}

.letraCarousel{
    margin-bottom: 10px; /* Espacio inferior */
    color: rgb(0, 0, 0); /* Color del título */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); /* Sombra de texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente */
}

.letraCarousel1{
    margin-bottom: 10px; /* Espacio inferior */
    color: rgb(0, 0, 0); /* Color del título */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); /* Sombra de texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente */
}

.banner {
    background-image: url("src/img/baner.jpeg"); /* Ruta de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    padding: 60px 0; /* Espacio superior e inferior */
    text-align: center; /* Centra el texto */
}


/* Contenedor del texto con fondo semitransparente */
.banner .text-container {
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente */
    padding: 20px; /* Espaciado alrededor del texto */
    border-radius: 10px; /* Bordes redondeados */
    display: inline-block; /* Permite centrar el contenedor del texto */
}

.banner h1 {
    font-size: 2.5rem; /* Tamaño del título */
    margin-bottom: 10px; /* Espacio inferior */
    color: rgb(0, 0, 0); /* Color del título */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); /* Sombra de texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aumenta la sombra del texto para mejorar la legibilidad */
}

.banner p {
    font-size: 1.2rem; /* Tamaño del párrafo */
    color: rgb(0, 0, 0); /* Color del párrafo */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); /* Sombra de texto */
}

footer {
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    text-align: center; /* Centra el texto dentro del footer */
    padding: 20px; /* Espaciado interno */
    color: white; /* Color del texto */
    position: relative; /* Posición relativa para permitir que los hijos se posicionen correctamente */
    bottom: 0; /* Asegura que el footer esté en la parte inferior si el contenido es corto */
}
    footer p {
        justify-content: center;
        margin: 0;
    }
    footer a {
        margin-top: 10px;
        color: white;
        text-decoration: none;
        transition: color 0.3;
    }
    footer a:hover {
        text-decoration: underline;
    }
    footer i {
        margin-right: 5px;
    }
