body {
    font-family: 'Arial', sans-serif;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

section {
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
}

.imagenBlog{
    max-width: 700px;
    max-height: auto;
    border-radius:20px;
    justify-content: center;
}

.container {
    max-width: 800px;
    margin: 0 auto; /* Centra el contenedor */
}
.blog-entry {
    margin: 20px 0; /* Espaciado entre entradas */
    padding: 20px; /* Espaciado interno para el contenido */
    background-color: #f8f9fa; /* Color de fondo claro */
    border: 1px solid #dee2e6; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para un efecto elevado */
}

.media-container {
    margin: 20px 0; /* Espacio alrededor de la imagen o video */
}

.modification-info {
    font-size: 0.9rem; /* Tamaño del texto más pequeño */
    color: rgb(0, 0, 0); /* Color del texto de modificación */
    margin-top: 20px; /* Espacio superior */
}



.btn-biografia {
    margin-top: 20px;
}

#biografia {
    display: none;
}

/* Margen superior para evitar que el contenido quede debajo de la navbar fija */
body {
    padding-top: 70px;
}

.letraCarousel{
    margin-bottom: 10px; /* Espacio inferior */
    color: rgb(0, 0, 0); /* Color del título */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); /* Sombra de texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente */
}

.letraCarousel1{
    margin-bottom: 10px; /* Espacio inferior */
    color: rgb(0, 0, 0); /* Color del título */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); /* Sombra de texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente */
}
